{{/* Simple dnsmasq template generating host entries */}}
{{/* Domains are hard-coded, replace 'docker.comany.com' below */}}

{{$domain := "docker.company.com"}}
{{range $key, $value := .}}
# {{ $value.Name }} ({{$value.ID}} from {{$value.Image.Repository}})
{{$value.IP}}   {{ $value.Name }}.{{$domain}}
{{$value.IP6Global}}    {{ $value.Name }}.{{$domain}}

{{end}}
