
#!/bin/bash

# Genenerated by {{ .Env.USER }}

{{range $key, $value := .}}
{{ $addrLen := len $value.Addresses }}
{{ if gt $addrLen 0 }}
{{ with $address := index $value.Addresses 0 }}
# {{ $value.Name }}
curl -XPUT -q -d value="{{ $address.IP }}:{{ $address.Port }}" -d ttl=15 http://127.0.0.1:4001/v2/keys/backends/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}
{{ end }}
{{end}}
{{end}}
