{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
upstream {{ $host }} {

{{ range $index, $value := $containers }}
	{{ with $address := index $value.Addresses 0 }}
	server {{ $address.IP }}:{{ $address.Port }};
	{{ end }}
{{ end }}

}

server {
	#ssl_certificate /etc/nginx/certs/demo.pem;
	#ssl_certificate_key /etc/nginx/certs/demo.key;

	gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

	server_name {{ $host }};
	proxy_buffering off;

	location / {
	    proxy_pass http://{{ $host }};
	    include /etc/nginx/proxy_params;
	}
}

{{ end }}